# node dependencies (defined via "npm install")
/node_modules/

/package-lock.json

# our machine generated gitbook output
/MyPage/FireWithin/

# our gitbook plugins
/FireWithin/node_modules/

# our encoder ... obfuscated in dd.js
/FireWithin/js/util/encoder*

# fwd (Fire Within Devotions): the staged private retention of all FireWithin source code that contains the unauthorized devotions
# You can find this source image through the git tag: archive-daily-devotions
/fwd/

# logs
logs
*.log
npm-debug.log*

# runtime data
pids
*.pid
*.seed
