/*
   Color Key:
     #ffffff- now white ... 440000 dark rich red (screen background)
     #999999 - now grey ... pink cc3366 (header/menu background)
     #000000 - now black ... light yellow ffffbb (background color)
     #000000 - light yellow color for text on dark background
     #ffffff - white (background color)
     #ffffff - white color for text on dark background
*/

body {
  margin:           2em;
  padding:          0;
  background-color: #ffffff; /* DONE */
  font-family:      tahoma, arial, helvetica, sans-serif;
  font-size:        12pt;
}

/* activate to interject a clean slate on any floating images. */
p {
  clear: both;
}

ul {
  margin-top:    0;
  margin-bottom: 0;
}



#header {
  padding:          10px;
  background-color: #999999; /* ??? pink BAD ... cc3366 to 999999 to 999999 */
  color:            #000000; /* ??? yellow BAD */
/*font-family:      fantasy; */
  font-weight:      bold;
  font-style:       italic;
  font-size:        large;

}

#headerLogo {
  background-color: black;/* ??? */
  color:            #000000;
}

#motto{
  padding:          10px;
  text-align:       center;
  color:            #000000; /* DONE-ALT */
  font-weight:      bold;
  font-style:       italic;
  font-size:        large;
}

#content {
  vertical-align:   top;
  padding:          2em;
  background-color: #ffffff; /* DONE */
  color:            #000000;
  font-size:        smaller;
  border:           5px solid black; /* ??? new */
}

#menu {
  vertical-align:   top;
  padding:          10px;
  padding-right:    20px;
  background-color: #999999; /* DONE */
  color:            #660000;
  text-align:       right;
  font-weight:      bold;
  font-size:        large;
}

#menu a:link, #menu a:active, #menu a:visited {
  color:            #000000; /* DONE-ALT */
  text-decoration: none
}

#menu a:hover {
  color:            #660000; 
  background-color: #cc9933;
  text-decoration:  none
}

.submenu {
/*
  vertical-align:   top;
  padding:          10px;
*/
  padding-right:    10px;
  background-color: #999999; /* DONE */
  color:            #660000;
  text-align:       right;
  font-weight:      bold;
  font-size:        small;
  font-style:       italic;
}

#trailer {
  padding:          10px;
  text-align:       center;
  color:            #000000; /* DONE-ALT */
  font-size:        small;
  font-style:       italic;
}

#trailer a {
  color:            #3eb5c1;
}

.title {
  font-size:        larger;
  font-weight:      bold;
  font-style:       italic;
  text-align:       center;
}

.quote {
  font-style:       italic;
  color:            #A52A2A;
  /* background-color: #ffff66; */
}

.separator {
  height: 5px;
  background-color: #999999;
  color:            #999999;
}

.indent {
  margin-left: 1.5em;
}
