/* slim left-nav width to 250 (was: 300) */
.book-summary {
  width: 250px;
}
.book.with-summary .book-body {
  left: 250px;
}

/* condense left-nav spacing (was: 10px 15px) */
.book-summary ul.summary li a, .book-summary ul.summary li span {
  padding: 5px 15px;
}

/* condense line-spacing */
.markdown-section {
  line-height: 1.4;     /* overall line-spacing (was: 1.7) */
}
.markdown-section pre {
  line-height: 1.2;     /* code-snippet line-spacing (was: 1.7) */
  padding:    .5em;     /* also reduce padding around code block (was: .85em 1em) */
}

/* adjust gitbooks styling of our LeftNav header */
.book-summary ul.summary li.header {
  text-transform: none !important; /* override: text-transform: uppercase; */
  font-weight:    bold !important; /* make it bold! */
}

/* diagram styles */
.diagram {
  background:     #fffffa;      /* light beige: neutral background color that looks good in all three gitbook styles */

  border-radius:  8px;          /* rounded border */

                                /* with a drop shadow effect */
/*-webkit-filter: drop-shadow(8px 8px 10px gray); /* Safari 6.0 - 9.0 */
/*filter:         drop-shadow(8px 8px 10px gray); */

                                /* blur around frame */
  box-shadow: 0 0 8px 8px white inset;
}

/* simulated links used to inject content in youtube video iframe */
.video-link {
  cursor:          pointer;
  font-weight:     bold;
  text-decoration: underline;
}

.highlight {
  background-color: yellow !important;
}

/* override gitbook table width 100% */
.markdown-section table {
  width: auto;
}

/* make our check-box labels no-wrap */
label {
  white-space: nowrap;
  cursor:      pointer;
}
input[type="checkbox"] {
  cursor:      pointer;
}

/* SideBar: use a mouse pointer for all images capable of going full-screen with a click */
.clickFullScreen {
  cursor: pointer;
}

/* RESPONSIVE default for "cell phone" (smaller device - less real estate) */
.desktop { display: none;  }
.phone   { display: block; }

/* RESPONSIVE overide for "desktop/tablet" (bigger device - more real estate) */
@media screen and (min-width: 768px) {
  .desktop { display: block; }
  .phone   { display: none;  }
}

/* all table cell entries alighn to top */
td {
  vertical-align: top;
}

/* provide indentation (typically used via: `P{ inject('<div class="indent">') }P`) */
.indent {
  margin-left: 20px;
}

/* resize the audio player (used in Memorization.md) */
audio {
  width:  350px;
  height:  25px;
}


/*** style Memory Verse Translation Radio (used in Memorization.md ***/
.radio-memory-verse-translation {
  display: flex; /* align horizontally */
  gap:     5px;  /* spacing between options */
}

.radio-memory-verse-translation label {
  cursor:        pointer;
  border-radius: 5px;
  transition:    background-color 0.3s, color 0.3s; /* smooth transition effect when the background color or text color changes */
  user-select:   none; /* prevents text selection */
}

/* hide the default radio cicle */
.radio-memory-verse-translation input[type="radio"] {
  display: none;
}

/* style for ALL item text */
.radio-memory-verse-translation span {
  border:           2px solid black;
  padding:          3px 3px;
  background-color: #E0E0E0;
  color:            #333333; 
  font-weight:      bold;  /* text stand out */
  border-radius:    5px;   /* rounded edges */
}

/* style for selected item text */
.radio-memory-verse-translation input[type="radio"]:checked + span {
  background-color: #555555; 
  color:            white;
}

/*** styles for Collapsible Section ***/
.collapsible-toggle {
    background:  none;
    border:      none;
    font-size:   1.2em; /* bigger, relative to the GitBook sizing framework */
    font-weight: bold;
    cursor:      pointer;
    text-align:  left;
    display:     flex;
    align-items: center;
    width:       100%;
    padding:     5px;
}

.collapsible-arrow {
    display:      inline-block;
    margin-right: 5px;
    transition:   transform 0.2s ease-in-out;
}

.collapsible-content {
    display: block; /* Default: Open */
    padding: 0px 5px;
/*  border: 1px solid #ccc; /* dev diag: to see the section */

    /* animated open/close ... adjusted by JavaScript (because our content DOES NOT have a fixed height */
    max-height: 0;
    opacity:    0;
    overflow:   hidden;
    transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
}
