/* slim left-nav width to 250 (was: 300) */
.book-summary {
  width: 250px;
}
.book.with-summary .book-body {
  left: 250px;
}

/* condense left-nav spacing (was: 10px 15px) */
.book-summary ul.summary li a, .book-summary ul.summary li span {
  padding: 5px 15px;
}

/* condense line-spacing */
.markdown-section {
  line-height: 1.4;     /* overall line-spacing (was: 1.7) */
}
.markdown-section pre {
  line-height: 1.2;     /* code-snippet line-spacing (was: 1.7) */
  padding:    .5em;     /* also reduce padding around code block (was: .85em 1em) */
}

/* adjust gitbooks styling of our LeftNav header */
.book-summary ul.summary li.header {
  text-transform: none !important; /* override: text-transform: uppercase; */
  font-weight:    bold !important; /* make it bold! */
}

/* diagram styles */
.diagram {
  background:     #fffffa;      /* light beige: neutral background color that looks good in all three gitbook styles */

  border-radius:  8px;          /* rounded border */

                                /* with a drop shadow effect */
/*-webkit-filter: drop-shadow(8px 8px 10px gray); /* Safari 6.0 - 9.0 */
/*filter:         drop-shadow(8px 8px 10px gray); */

                                /* blur around frame */
  box-shadow: 0 0 8px 8px white inset;
}

/* simulated links used to inject content in youtube video iframe */
.video-link {
  cursor:          pointer;
  font-weight:     bold;
  text-decoration: underline;
}

.highlight {
  background-color: yellow !important;
}

/* override gitbook table width 100% */
.markdown-section table {
  width: auto;
}

/* make our check-box labels no-wrap */
label {
  white-space: nowrap;
  cursor:      pointer;
}
input[type="checkbox"] {
  cursor:      pointer;
}

/* SideBar: use a mouse pointer for all images capable of going full-screen with a click */
.clickFullScreen {
  cursor: pointer;
}

/* RESPONSIVE default for "cell phone" (smaller device - less real estate) */
.desktop { display: none;  }
.phone   { display: block; }

/* RESPONSIVE overide for "desktop/tablet" (bigger device - more real estate) */
@media screen and (min-width: 768px) {
  .desktop { display: block; }
  .phone   { display: none;  }
}

/* all table cell entries alighn to top */
td {
  vertical-align: top;
}

/* provide indentation (typically used via: `P{ inject('<div class="indent">') }P`) */
.indent {
  margin-left: 20px;
}

/* resize the audio player (used in Memorization.md) */
audio {
  width:  350px;
  height:  25px;
}


/*** style Memory Verse Translation Radio (used in Memorization.md ***/
.radio-memory-verse-translation {
  display: flex; /* align horizontally */
  gap:     5px;  /* spacing between options */
}

.radio-memory-verse-translation label {
  cursor:        pointer;
  border-radius: 5px;
  transition:    background-color 0.3s, color 0.3s; /* smooth transition effect when the background color or text color changes */
  user-select:   none; /* prevents text selection */
}

/* hide the default radio cicle */
.radio-memory-verse-translation input[type="radio"] {
  display: none;
}

/* style for ALL item text */
.radio-memory-verse-translation span {
  border:           2px solid black;
  padding:          3px 3px;
  background-color: #E0E0E0;
  color:            #333333; 
  font-weight:      bold;  /* text stand out */
  border-radius:    5px;   /* rounded edges */
}

/* style for selected item text */
.radio-memory-verse-translation input[type="radio"]:checked + span {
  background-color: #555555; 
  color:            white;
}

/*** styles for Collapsible Section ***/
.collapsible-toggle {
    background:  none;
    border:      none;
    font-size:   1.2em; /* bigger, relative to the GitBook sizing framework */
    font-weight: bold;
    cursor:      pointer;
    text-align:  left;
    display:     flex;
    align-items: center;
    width:       100%;
    padding:     5px;
}

.collapsible-arrow {
    display:      inline-block;
    margin-right: 5px;
    transition:   transform 0.2s ease-in-out;
}

.collapsible-content {
    display: block; /* Default: Open */
    padding: 0px 5px;
/*  border: 1px solid #ccc; /* dev diag: to see the section */

    /* animated open/close ... adjusted by JavaScript (because our content DOES NOT have a fixed height */
    max-height: 0;
    opacity:    0;
    overflow:   hidden;
    transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
}


/*** Checkbox Style - simple approach using unicode characters           ***/
/*** NOTE: we use "em" units to scale appropriatly with GitBooks styling ***/

/* hide the default checkbox */
input[type="checkbox"] {
    appearance:    none; /* remove default styling */

    width:         1.2em;
    height:        1.2em;
    border-radius: 0.2em;  /* rounded corners */

    background-color: #e0e0e0;

    border:           0.1em solid #767676;

    position:      relative;
    cursor:        pointer;
    outline:       none;

    vertical-align: middle; /* aligns checkbox vertically centered */
}

/* standard styling of checkmark when checked */
input[type="checkbox"]:checked::after {

    /* YES: completion checkboxes */
    content:       "\2714"; /* unicode: Check ✔ */

    font-size:     1em;
    font-weight:   bold;

    color: green;

    position:      absolute; /* ... hmmm allows the check to be placed inside the checkbox element at an exact location */
    top:           50%;
    left:          50%;
    transform:     translate(-50%, -50%);
}

/* additional styling for checkboxes with the "audio-play" class */
input[type="checkbox"].audio-play:checked::after {
    /* YES: audio playback checks */
    content:     "\1F508"; /* unicode Speaker - Low Volume <<< WORKS with font-family help */
    font-family: "Segoe UI Symbol", "Arial Unicode MS", sans-serif; /* forces browser to render Unicode as text (honoring color attr) instead of an emoji (which ignoring color attr - what the colored audio unicodes are) */

    /* runner-up audio TRASH */
/*  content:       "\1F50A"; /* unicode Speaker - High Volume <<< LIKE THIS (but light - needs darker background ... see "helps" */
/*  content:       "\1F4E3"; /* unicode Megaphone <<< HMMM (ditto lightness) */
/*  background-color: #145a32; /* helps with lighter icons << good in most GitBook themes */
/*  background-color: #154360; /* helps with lighter icons << good in most GitBook themes */
/*  background-color: #17202a; /* helps with lighter icons << good in most GitBook themes ... a bit dark for white themes */
/*  background-color: #424949; /* helps with lighter icons << LIKE THIS THE BEST */
}

/*** Memory Verse Table of Contents Style ... need !important to override gitbook table styling ***/
.MV-TOC {
    border-collapse: collapse !important;
}
.MV-TOC th, .MV-TOC td {
    padding:        2px 4px !important; /* 2px top/bottom, 4px left/right */
    text-align:     left !important;    /* left alignment */
    vertical-align: top !important;     /* top alignment */

 /* border:         1px solid black;    /* DIAG ONLY */
    border:         none !important;    /* ensure no cell borders (gitbook override) <<< WORKS - MINOR ADJUSTMENT (NO BORDERS) */
}
.MV-TOC th.indent, .MV-TOC td.indent {  /* indentation <td class="indent" */
    padding-left: 30px !important;
}
.MV-TOC th {
    background-color: #f2f2f2 !important;
}
.MV-TOC ul {                       /* ul/li used for bullet points - in first column */
    margin:       0 !important;    /* remove the default top/bottom margin */
    padding-left: 10px !important; /* reduce the default left padding */
}
