#zoomC {
  /* (A) DIMENSIONS */
  /* ?? original
  width: 600px;
  height: 338px; 
  */
  /* ?? new
  width: 100%;
 */
  /* ?? specify in html <div width="100% ... NO WORK */
  /* ?? hard code for now to a more suitable ... BUT shouldvary with window resize :-( */
  width:  770px;
  height: 577px; 

 
  /* (B) BACKGROUND IMAGE */
  background: url("Acts-Luke.jpg");/* ?? specify via in-line style*/
  background-position: center;
  background-size: cover;
}
